scratch.txt
scratch/

# Maven
target/

# SBT
lib_managed/
src_managed/
project/boot/

# Idea
.idea/
debiki-dao-oracle.iml
project/project.iml

# The Oracle JDBC driver (not added to the repo,
# licensing issues).
lib/ojdbc6.jar

